body{
  font-family: "Vidaloka";
}
#head{
  background-image: url(https://68.media.tumblr.com/65304a67224e0108188ff073ed6629b7/tumblr_otrpyfBJSE1wqft2so1_1280.jpg);
  background-repeat:no-repeat;
  background-poisition: center;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 2px black;
}
#gray-out
{
  top: 0px;
  left: 0px;
  z-index: 2;
  position: fixed;
  background-color: rgba(200, 200, 200, .72);
  height: 100%;
  min-width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;  
}
#about,#contact{
  padding: 40px;
}
.gce
{
  background-position: center;
  background-image: url(/myshow.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  color: white;
}
.ggr
{
    background-position: 40% 60%;
    background-repeat:no-repeat;
    background-image: url(/myband.jpg);
   background-size: cover;
}
.my-face
{
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px white,
              -1px 1px 1px white,
              1px -1px 1px white,
              -1px -1px 1px white;
}
.middle-text
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn-head{
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px black;
}
.web
{
  background-image: url(https://68.media.tumblr.com/f1aea74bae4001814263e5ec3922cffe/tumblr_oudhj3PJuV1wqft2so1_1280.jpg);
   background-repeat:no-repeat;
   background-position: center;
   background-size: cover;
   color: white;
}
.section{
  min-height: 500px;
  padding: 20px;
  color:white;
}
.about-squeeze{
  max-width: 800px;
}
.sec-squeeze{
  max-width: 1200px;
}
.col-head{
  width: 400px;
}
.head-squeeze{
  max-width: 1200px;
}
#x-box
{
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 10;
  font-size: 125%;
}
.pointer{
  cursor            : pointer; 
  cursor            : hand;
}
.project{
  background-color: pink;
  min-height: 50px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  font-size: 125%;
  text-shadow: 1px 1px 1px black;
  cursor            : pointer; 
  cursor            : hand;
}
.pint{
  background-color: rgba(153, 91, 255,1);
}
.anon{
  background-color: rgba(52, 95, 155,1);
}
.book{
  background-color: rgba(52, 95, 155,1);
}
.undefined{
  background-color: rgba(86, 86, 86,1);
}
.sec-head{
  text-shadow: 2px 2px 2px black;
  margin-bottom: 40px;
}
.black-shadow{
  text-shadow: 2px 2px 2px black;
}
.proj-row{
  margin-top: 10px;
  margin-bottom: 25px;
}
.other-proj-row{
  margin-top: 10px;
  margin-bottom: 15px;
}
.gce-row{
  margin-top: 20px;
}
.break{
  height: 10px;
}
.bottom-text
{
  margin-top: -17px;
  margin-left: 2px;
  color: white;
  font-size: 75%;
  z-index: 1;
}
.gce-layer{

  background-color: rgba(175,175,175,.34);
  min-height: 460px;
}
.mus-iframe{
  min-width: 480px;
}
.mus-col{
  height: 400px;
}
.site-wrapper{
  background-color:white;
  position: relative;
  padding: 20px;
  border-radius: 5px;
  width: 840px;
  box-shadow: 2px 2px 2px gray,
              -1px -1px 1px gray,
              1px -1px 1px gray,
              -1px 1px 1px gray;
}
.site-view{
  min-width: 800px;
  min-height: 600px;
}
.smol{
  font-size: 90%;
  margin-bottom: 5px;
}
.pad-less{
  margin-top: -10px
}

.error-border
{
  border: solid red 2px;
}
.game-that
{
  background-color:#d0b5e2;
  border-radius: 10px;
  height: 700px;
}
.game-box
{
  width: 12px;
  height: 12px;
  border: 1px #565656 solid;
}
.gradient
{
  background-color: black;
  background: linear-gradient( #802aba,white);
}
.game-box-off
{
  background-color: black;   
}
.game-box-on
{
  background-color: none;   
}
.game-h1
{
  font-weight: bold;
  font-family: 'permanent marker'  !important;
}
.text-shadow-white
{
    text-shadow: 2px 2px 2px white;
}
.btn-game
{
  background-color: #802aba;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-family: "permanent marker"  !important;
  box-shadow: 2px 2px 2px white;
}
.game-middle
{
  color: #802aba;
}
.game-max
{
  max-width: 625px;
  max-height: 625px;
}
.game-space
{
    height: 50px;
}
.dun-box
{
  width: 12px;
  height: 12px;
}
.dun-gradient
{
  background-color: black;
  overflow: hidden;
}
.dun-box-off
{
  background-color: green;   
}
.dun-box-on
{
  background-color: white;   
}
.start
{
  background-color:red;
}
.leak
{
  background-color:blue;
}
.item
{
  background-color:yellow;
}
.weapon
{
  background-color:gray;
}
.boss
{
  background-color: purple;
}
.dun-message
{
  max-width: 750px;
  height: 80px;
  background-color: green;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.stairs
{
  background-color:black;
}
.dun-h1
{
  color: white;
}
.dun-h4
{
  color:white;
}
.dun-body
{
  background-color:black;
  font-family: 'VT323'  !important;
  border-radius: 10px;
}
.dun-btn
{
  background-color: #d8d5b1;
}
.dun-col
{
  color: white;
}
.buffer
{
  margin: 10px;
}
.dun-black-out
{
  background-color: black;
  color: white;
}
.game-over
{
  height: 600px;
  width: 750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cal-body
{
  background-image: url(https://68.media.tumblr.com/83c7247f8eb2ace6fa312d206b96d664/tumblr_otv0imSaTL1wqft2so1_1280.jpg);
  background-size: cover;
  border-radius: 5px;
}
.calc-func{
  background-color: #524f87;
  color: white;
}
.calc-smol{
  vertical-align: top;
  font-size: 60%;
}
.calc-sci{
  background-color: #1e1e1e;
  color: white;
}
.calc-ops{
  background-color: #2053aa;
  color: white;
  font-size: 125%;
}
.calc-red{
  background-color: #9b2929;
  color: white;
}
.calc-num{
  background-color: #b9baae;
  color: black;
}
.calc-other{
  background-color: #1e1e1e;
  color: white;
}
.calc-letter{
   background-color: #2053aa;
   color: white;
}
.calc-pad{
  padding: 35px;
}
.calc-pos-0{
  padding-right: 0px;
  margin-right: 0px;
}
.calc-pos-1,.calc-pos-2,.calc-pos-3,.calc-pos-4{
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
}
.calc-pos-5{
  margin-left: 0px;
  padding-left: 0px;
}
.calc-btn{
  margin-top: 5px;
  width: 55px;
  height: 45px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Saira"  !important;
  box-shadow: 1px 1px 1px black;
}
.calc-buttons{
  margin-top: 10px;
  max-width: 300px;
}
.calc-screen{
  border: 1px solid black;
  width: 307px;
  height: 172px;
  margin-left: 4px;
  margin-top: 10px;
  background-color: #afafaf;
  border-radius: 3px;
  text-align: left;
  padding: 5px;
  padding-top: 3px;
  padding-left: 3px;
  font-family: "Roboto Mono" !important;
}
.calc-logo{
  margin: 3px;
  margin-top: -4px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #919187;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-shadow: 1px 1px 1px gray;
  border: solid black 1px;
}
.calc-body{
  background-color: #4f4f4f;
  border: solid black 1px;
  max-width: 345px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black,
              -1px 1px 1px black,
              1px -1px 1px black,
              -1px -1px 1px black;
}
.calc-right{
  text-align: right;
}
.calc-brand{
  font-family: "Lobster"  !important;
}
.middle-text
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.black-text
{
  color: black !important;
}
.margin-0
{
  margin: 0 !important;
}
.fa-heart
{
  color: red;
}
.fa-exchange
{
  color: green;
}
.fa-comments
{
  color: blue;
}
.simon-middle{
  display: flex;
  justify-content: center;
  flex-direction: column; 
}
.off{
  opacity: .5;
}
.simon-width
{
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 50%;
  background-color: black;
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
}
#green
{
  border-top-left-radius:100%;
  background-color:green;   
  width: 200px;
  height: 200px; 
  margin: 5px;
}
#yellow
{
  background-color: yellow;   
  border-bottom-left-radius:100%;
  width: 200px;
  height: 200px;
  margin: 5px;
}
#blue
{
  background-color: blue;
  border-bottom-right-radius:100%;
  width: 200px;
  height: 200px;
  margin: 5px;
}
#red
{
  border-top-right-radius:100%;
  background-color:red;  
  width: 200px;
  height: 200px;
  margin: 5px;
}
.si-right
{
  padding-left: 0px;
  margin-left: 0px;
}
.si-left
{
  padding-right: 0px;
  margin-right: 0px;
}
.si-middle-but
{
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  z-index: 1;
  background-color:gray;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: solid black 10px;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  font-weight: bold;
}
.si-btn
{
  border-radius:50%;
  height: 40px;
  width: 40px;
  border-style:solid;
  border-color:black;
  border-width:5px;
}
.start
{
  background-color: #3939e5;
}
.reset
{
  background-color: #bf4848;
}
.strict
{
  background-color: red;
}
.count-box
{
  background-color:black;
  color:green;
  font-weight: bold;
  height:40px;
  width: 100%;
  border-radius:10px;
  font-size:125%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.si-btn-off{
  background-color:black;
}
.orange
{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  border-color: black;
  border-width: 2px;
}
.si-max{
  max-width: 170px;
}
.smaller{
  font-size: 100%;
  height: 56px;
}
.btn-black{
  background-color: black;
  color: white;
  margin-bottom: 7px;
}